@charset "UTF-8";

body {
    background-color: rgb(50, 50, 50);
    font-family: Arial, Helvetica, sans-serif;
}

h1#first {
    text-align: center;
    color: white;
}

h1 {
    color: rgb(186, 217, 231);
}

h2 {
    color: rgb(210, 234, 255);
}

p {
    color: rgb(194, 194, 194);
}

.basico {
    color: rgb(84, 193, 109);
}

.intermediario {
    color: rgb(193, 184, 84);
}

.avancado {
    color: rgb(193, 84, 84);
}