@charset "UTF-8";

body {
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    color: white;
}

section {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.34);
}

div {
    text-align: center;
}

.imagem {
    display: block;
    margin: 0 auto;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}