@charset "UTF-8";

h1 {
    color: white;
}

h2 {
    color: white;
}

p {
    color: white;
    text-align: justify;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(29, 29, 29);
    font-size: medium;
}

a {
    color: rgb(195, 195, 195);
}